<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="<scipt src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C"></script>
</head>
<body class="container">
    <center>
        <div class="p-3 text-dark bg-secondary border border-dark rounded-3 mt-2">
            <h1>
                Mis practicas Node.js
            </h1>
            <h2>Salas Salazar Gael Mizraim</h2>
        </div>
    </center>
</body>
</html>