<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid justify-content-center">
            <div>
                <ul class="navbar-nav">
                    <a class="nav-link fs-4 " href="/tabla">Tabla de Multiplicar</a>
                    <a class="nav-link fs-4" href="/cotizacion">Cotizacion</a>
                    <a class="nav-link fs-4" href="/alumnos">Alumnos</a>     
                </ul>
            </div>
        </div>
  </nav>
</body>
</html>