<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%-include('partials/header.ejs') %>
        <%-include('partials/nav.ejs')%>

    </header>

    <section>

        <form action="/alumnos" method="post">
            <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
            <input type="text" name="sexo" id="sexo" placeholder="M o F" required>
            <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>
            <div style="float:right;margin-right:5.5rem;margin-top: 1rem;">
                <button type="submit">Enviar Informacion</button>
            </div>
        </form>

        <div class="container">
            <table class="table table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col"> Sexo</th>
                    <th scope="col">Especialidad </th>

                </tr>
                <% if(reg!=null){ for (var i=0; i < reg.length; i++) { %>
                    <tr>
                        <td>
                            <%= reg[i].idAlumno %>
                        </td>
                        <td>
                            <%= reg[i].matricula %>
                        </td>
                        <td>
                            <%= reg[i].nombre %>
                        </td>
                        <td>
                            <%= reg[i].domicilio %>
                        </td>
                        <td>
                            <%= reg[i].sexo %>
                        </td>
                        <td>
                            <%= reg[i].especialidad %>
                        </td>
                    </tr>
                    <% } }%>

            </table>

        </div>
    
        <img src="" alt="">

    </section>

    <footer>
        <%-include('partials/footer.ejs') %>
    </footer>
</body>

</html>