<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
</head>
<body>
    <div style="width: 70ch; padding-bottom: 15px;" class="container-sm border mt-2 rounded-3 border-5 border-dark bg-dark">
        <header>
            <%-include('partials/header.ejs') %>
    
            <%-include('partials/nav.ejs') %>
            
            <center style="width: 100%; margin-left: 0.1%; padding: 5px;" class="row d-flex justify-content-center align-items-center  ">
                <div class="col">
                    <img style="width: 200px;" src="https://www.movilidad3.com.mx/wp-content/uploads/2021/11/Toyota-Logo-1.png" alt="Toyota_logo">
                </div>
                <div class="col " >
                    <h2 style="font-weight: bold;" class="fs-2 text-secondary">Toyota Mazatlán</h2>
                </div>
            </center> 
        </header>
        <section >
            <form action="/cotizacion" class="text-primary-emphasis bg-dark border  rounded-3">
                <div class="input-group mb-3 d-flex justify-content-between">
                    <input type="number" id="folio" name="folio" value="<%=folio%>" style="width: 100px; text-align: center;" placeholder="Num Folio" class="rounded-1 m-3" required>
                    <input type="text" id="desc" name="desc" value="<%=desc%>" style="width: 250px; text-align: center;" placeholder="Descripción del Automovil" class="rounded-1 m-3">
                </div>
                <div class="input-group mb-3 d-flex justify-content-between ">
                    <input type="number" id="precio" name="precio" value="<%=precio%>" style="width: 120px; text-align: center;" placeholder="Precio" class="rounded-1 m-3">
                    <input type="number" id="porcentaje" name="porcentaje" value="<%=porcentaje%>" style="width: 250px; text-align: center;" placeholder="Porcentaje de pago Inicial" class="rounded-1 m-3">
                    <select type="number" id="plazo" name="plazo" value="<%=plazo%>" style="width: 100px; text-align: center" class="rounded-1 m-3">
                        <option value="0">Plazos</option>
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                        <option value="36">36 meses</option>
                        <option value="48">48 meses</option>
                    </select>
                </div>
                <div class="input-group m-3 d-flex"> 
                    <button id="btnCalcular" type="submit" style="width: 120px;" class="btn border-2 btn-secondary">Calcular</button>
                    <button id="btnLimpiar" type="button" style="width: 120px;" class="btn border-2 btn-secondary">Limpiar</button>
                </div>
                <div class="d-flex" style="width: 450px;">
                    <div style="text-align: justify;" class="input-group m-3 d-flex flex-column" > 
                        <label style="font-weight: bold;" class="fs-5 text-secondary">Pago Inicial $</label>
                        <label style="font-weight: bold;" class="fs-5 text-secondary">Total a Financiar $</label>
                        <label style="font-weight: bold;" class="fs-5 text-secondary">Pago Mensual $</label>
                    </div>
                    <div style="text-align: justify;" class="input-group m-3  d-flex flex-column">
                        <%
                            let pago_ini = 0
                            let total_fin = 0
                            let pago_mensual = 0

                            if (precio != '' && porcentaje != '' && plazo != 0 && folio != '' && desc != ''){ 
                                pago_ini = parseInt(precio * porcentaje / 100)
                                total_fin = parseInt(precio - pago_ini)
                                pago_mensual = parseInt(total_fin / plazo)
                                
                                %>
                                <label id="pago_ini" style="font-weight: bold;" class="fs-5 text-light"><%= pago_ini %></label>
                                <label id="total_fin" style="font-weight: bold;" class="fs-5 text-light"><%= total_fin %></label>
                                <label id="pago_mensual" style="font-weight: bold;" class="fs-5 text-light"><%= pago_mensual %></label>
                                <%
                            }
                            else{
                                %>
                                <script>
                                    alert("Porfavor llene todos los campos");
                                </script>
                                <%
                            }
                                
                        %> 
                    </div>
                </div>
            </form>
        </section>
        <footer>
            <%-include('partials/footer.ejs') %>
        </footer>
    </div>
    <script>
        let folio = document.getElementById('folio');
        let desc = document.getElementById('desc');
        let precio = document.getElementById('precio');
        let porcentaje = document.getElementById('porcentaje');
        let plazo = document.getElementById('plazo');
        let pago_ini = document.getElementById('pago_ini');
        let total_fin = document.getElementById('total_fin');
        let pago_mensual = document.getElementById('pago_mensual');
        
        function limpiar(){ 
                
    
                folio.value = '';      
                desc.value = '';      
                precio.value = '';      
                porcentaje.value = '';      
                plazo.selectedIndex = 0;      
                pago_ini.innerHTML = '';      
                total_fin.innerHTML = '';      
                pago_mensual.innerHTML = '';      
        }

        function valiEmpty(){
            if (folio.value != '' &&
                desc.value != ''){
                
            }
            else{
                alert('Porfavor no deje espacios vacios')
            }
        }

            document.getElementById("btnLimpiar").addEventListener("click", limpiar);
    </script>
   
</body>
</html>