<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>
</head>
<body>
    <div style="width: 70ch; padding-bottom: 15px;" class="container-sm border mt-2 rounded-3 border-5 border-dark bg-dark">
        <header>
            <%-include('partials/header.ejs') %>
    
            <%-include('partials/nav.ejs') %>
            <hr class="text-light">
            <center>
                <h2 class="fs-2 text-secondary">Tabla de Multiplicar</h2>
            </center>
            <hr class="text-light">
        </header>
    
        <section>
            <div class="d-flex justify-content-center">
                <form action="/tabla" method="post" >
                    <label for="Tabla" class="text-secondary">Tabla</label>
                    <input type="number" id="numero" name="numero" value= "<%=numero%>" required> 
                    <button type="submit">Enviar Informacion</button>
                    <button type="button" id="btnLimpiar">Limpiar</button>
                    <div id="muestra" class="d-flex m-3 flex-column justify-content-center">
                        <%
                            let res =0;
                            %>
                            <h3 class="text-secondary "><%=numero%></h3>
                            <%
                            if(numero!=null){
                                for(con=1; con <=10; ++con){
                                    res = numero * con;
                                    %>
                                    <h3 class="text-secondary "><%=numero%> * <%=con%> = <%=res%></h3>
                                    <%
                                }
                            }
                        %>
                    </div>
                </form>
            </div>
            
            <br>
        </section>
        <script>
            function limpiar(){ 
                let num = document.getElementById('numero');
                let muestra = document.getElementById('muestra');
    
                if (num.value != '' && muestra != ''){
                    num.value = '';
                    muestra.innerHTML='';
                }
                else{
                    alert('Porfavor asegurese que haya algo que limpiar');
                }       
            }
            document.getElementById("btnLimpiar").addEventListener("click", limpiar);
        </script>
    
        <%-include('partials/footer.ejs') %>
    </div>
    
</body>
</html>